/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0;
  text-decoration: none; }

*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body {
  min-height: 100%;
  overflow-x: hidden; }

h1 {
  font-size: 100%; }

h1 {
  margin-bottom: 1em; }

p {
  margin: 1em 0; }

a {
  color: #00a; }

a:hover {
  color: #000; }

a:visited {
  color: #a0a; }

ul {
  list-style-type: none; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* standard */

/* terminal */

.row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -.5rem;
  margin-left: -.5rem; }

.col-xs-12 {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: .5rem;
  padding-left: .5rem; }

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%; }

@media only screen and (min-width: 48em) {
  .col-sm-4, .col-sm-5, .col-sm-offset-1 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: .5rem;
    padding-left: .5rem; }
  .col-sm-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%; }
  .col-sm-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%; }
  .col-sm-offset-1 {
    margin-left: 8.33333333%; }
  .middle-sm {
    -ms-flex-align: center;
    align-items: center; } }

/**
 * Reset some basic elements
 */
body,
h1,
p,
ul {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  padding: 0;
  margin: 0;
  background-color: #e5e5e5;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  line-height: 1.5; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
p,
ul {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */

/**
 * Headings
 */
h1 {
  font-weight: 400; }

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none; }
  a:visited {
    color: #1756a9; }
  a:hover {
    color: #111;
    text-decoration: underline; }

/**
 * Icons
 */
.icon {
  cursor: pointer;
  transition: margin-top 300ms ease;
  -webkit-transform: translateZ(0);
          transform: translateZ(0); }
  .icon:hover {
    margin-top: -1px; }
  .icon > svg {
    display: inline-block;
    width: 64px;
    height: 64px;
    vertical-align: middle; }
    .icon > svg path {
      fill: #fff; }

.icon--email svg {
  width: 46px;
  vertical-align: bottom; }

.lazy {
  display: none; }

.avatar {
  border-radius: 50%;
  max-width: 60%;
  border: 2px solid #fff;
  margin: 0 auto 2rem; }
  @media (min-width: 992px) {
    .avatar {
      max-width: 20%; } }

.intro {
  background-image: linear-gradient(to bottom, transparent 0%, transparent 20%, rgba(0, 0, 0, 0.8) 80%), url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  text-align: center; }
  @media (min-width: 992px) {
    .intro {
      background-size: 100%; } }

.wrapper {
  margin: 0 auto;
  padding: 4em 3em;
  color: #fff;
  text-align: center; }
  .wrapper h1 {
    font-size: 1.5em; }
    @media (min-width: 768px) {
      .wrapper h1 {
        font-size: 2em; } }
  .wrapper p {
    font-size: 1em; }
    @media (min-width: 768px) {
      .wrapper p {
        font-size: 1.125em; } }

.wrapper-text {
  margin: 0 auto;
  text-align: center; }

.social {
  padding-top: 1em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }

.portfolio {
  border-top: 1px solid #fff;
  margin: 0 auto;
  width: 100%; }
  .portfolio .row {
    -ms-flex-pack: center;
        justify-content: center;
    padding: 3em;
    margin-left: -15px;
    margin-right: -15px; }
    .portfolio .row .portfolio--text {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 100%;
      text-align: left; }
      @media (max-width: 767px) {
        .portfolio .row .portfolio--text {
          text-align: center; } }

.work {
  -ms-flex-order: -1;
      order: -1;
  padding-bottom: 2em; }
  @media (min-width: 768px) {
    .work {
      -ms-flex-order: 0;
          order: 0;
      padding-bottom: 3em; } }

.portfolio--container:nth-child(even) {
  background: #f2f2f2; }

.portfolio--container:nth-child(odd) {
  background: #d3d3d3; }

.portfolio img {
  display: block;
  height: auto; }

.portfolio--logos {
  width: 30%;
  padding-bottom: 1em; }

.crc-logo {
  width: 70%; }

.mpe-logo {
  width: 25%; }

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: .5em;
  bottom: 0;
  margin: 0 auto;
  text-align: center; }
