%svg-common {
	background: url("svg/sprite.css-c29c040d.svg") no-repeat;
}

.svg-codepen {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-codepen-dims {
	width: 512px;
	height: 512px;
}

.svg-crc {
	@extend %svg-common;
	background-position: 0 67.5729180414412%;
}

.svg-crc-dims {
	width: 200.8px;
	height: 36.3px;
}

.svg-github {
	@extend %svg-common;
	background-position: 19.92063492063492% 65.80976863753213%;
}

.svg-github-dims {
	width: 16px;
	height: 16px;
}

.svg-linkedin {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-linkedin-dims {
	width: 512px;
	height: 512px;
}

.svg-mol {
	@extend %svg-common;
	background-position: 0 84.09090909090908%;
}

.svg-mol-dims {
	width: 166.4px;
	height: 85.6px;
}

.svg-petag {
	@extend %svg-common;
	background-position: 0 99.87392986982526%;
}

.svg-petag-dims {
	width: 155.28px;
	height: 111.84px;
}

.svg-sikich {
	@extend %svg-common;
	background-position: 0 73.43959282078755%;
}

.svg-sikich-dims {
	width: 180.4px;
	height: 47.4px;
}

.svg-twitter {
	@extend %svg-common;
	background-position: 21.50793650793651% 65.80976863753213%;
}

.svg-twitter-dims {
	width: 16px;
	height: 16px;
}

