.musicContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* min-width: 350px; */
  align-self: center;
  padding: 1rem;
  border-radius: 16px;
  border: 1px solid rgb(64 64 64);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

.nowPlayingContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.musicInfoContainer {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.fakeText {
  padding-left: 2rem;
}

.soundwaveContainer {
  height: 40px;
  width: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.bar {
  width: 6px;
  padding-bottom: 1rem;
  height: 100%;
  background: #ffffff;
  border-radius: 2px;
  margin: 0 2px;
  animation: equalizer 1.9s steps(20, end) infinite;
}
.bar:nth-child(1) {
  animation-duration: 1.9s;
}
.bar:nth-child(2) {
  animation-duration: 2s;
}
.bar:nth-child(3) {
  animation-duration: 1.7s;
}
.bar:nth-child(4) {
  animation-duration: 2.1s;
}
te .deadBar {
  width: 6px;
  padding-bottom: 0.2rem;
  height: 0;
  background: #ffffff;
  border-radius: 2px;
  margin: 0 2px;
}

.musicinfo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 60%;
}

.song {
  display: flex;
  align-items: center;
}
.albumArt {
  margin-left: 1rem;
  margin-right: 0.5rem;
  /* border-radius: 16px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid; */
}
.title {
  color: #ffffff;
  font-size: 1rem;
  padding: 0 !important;
  /* margin: 2px 0 6px; */
}
.artist {
  font-size: 1rem;
  padding: 0 !important;
  color: rgb(125, 115, 115);
  /* margin: 2px 0; */
}

.animate {
  animation: heart-burst 0.8s steps(28) forwards;
}

@keyframes equalizer {
  0% {
    height: 60%;
  }
  4% {
    height: 50%;
  }
  8% {
    height: 40%;
  }
  12% {
    height: 30%;
  }
  16% {
    height: 20%;
  }
  20% {
    height: 30%;
  }
  24% {
    height: 40%;
  }
  28% {
    height: 10%;
  }
  32% {
    height: 40%;
  }
  36% {
    height: 60%;
  }
  40% {
    height: 20%;
  }
  44% {
    height: 40%;
  }
  48% {
    height: 70%;
  }
  52% {
    height: 30%;
  }
  56% {
    height: 10%;
  }
  60% {
    height: 30%;
  }
  64% {
    height: 50%;
  }
  68% {
    height: 60%;
  }
  72% {
    height: 70%;
  }
  76% {
    height: 80%;
  }
  80% {
    height: 70%;
  }
  84% {
    height: 60%;
  }
  88% {
    height: 50%;
  }
  92% {
    height: 60%;
  }
  96% {
    height: 70%;
  }
  100% {
    height: 80%;
  }
}
