//Page content

header{
    padding: 2em auto 0;
    margin:0 auto;
}

.page-content {
    margin:0 auto;
}

.post-list {
    margin-left: 0;
    list-style: none;
    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}


//Posts

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    h2 {
        font-size: 32px;
        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }
    h3 {
        font-size: 26px;
        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }
    h4 {
        font-size: 20px;
        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.intro {
  //   background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.80) 100%),url('../images/bg.jpg');
  // background-repeat:no-repeat;
  // background-size:cover;
  margin:0 auto;
  display:flex;
  justify-content:center;
  align-items:center;
}

.wrapper {
    margin:2em auto 0;
    padding:2em;
    position:relative;
    color:#fff;
    h1{
        font-size:2em;
    }
    p{
        font-size:1.125em;
    }
}
.wrapper-text{
    margin:0 auto;
}
.social{
    padding-top:1em;
    display:flex;
    justify-content:center;
}
