<section class="intro">
  <div class="wrapper">
    <a href="{{site.url}}"><img class="avatar" src="images/avatar.jpg"></a>
    <div class="wrapper-text">
      <h1>I'm <a href="mailto:hello@kevinmoral.es" title="hello@kevinmoral.es" alt="hello@kevinmoral.es">Kevin Morales</a>, a Front End Developer from Chicago, IL.</h1>
      <p>Constantly Learning.</p>
    </div>
    <div class="links">
      <ul class="social">
        <li>
          {% include icon-github.html username=site.github_username %}
        </li>
        <li>
          {% include icon-codepen.html username=site.codepen_username %}
        </li>
        <li>
          {% include icon-linkedin.html username=site.linkedin_username %}
        </li>
    </div>
  </div>
</section>