<section class="intro">
  <div class="wrapper">
    <img class="avatar" src="images/profile.jpg">
    <div class="wrapper-text">
    <h1>I'm Kevin, a Front End Developer from Chicago, IL.</h1>
    <p>I break internet stuff every day to learn why I shouldn't.</p>
    </div>
    <div class="links">
      <ul class="social">
        <li>
          {% include icon-github.html username=site.github_username %}
        </li>
        <li>
          {% include icon-codepen.html username=site.codepen_username %}
        </li>
        <li>
          {% include icon-twitter.html username=site.twitter_username %}
        </li>
        <li>
          {% include icon-linkedin.html username=site.linkedin_username %}
        </li>
    </div>
</section>