<section class="intro">
  <div class="wrapper">
    <a href="{{site.url}}"><img class="avatar" src="images/avatar.jpg"></a>
    <div class="wrapper-text">
    <h1>I'm Kevin, a Front End Developer from Chicago, IL.</h1>
    <p>I break internet stuff to learn how it works.</p>
    </div>
    <div class="links">
      <ul class="social">
        <li>
          {% include icon-github.html username=site.github_username %}
        </li>
        <li>
          {% include icon-codepen.html username=site.codepen_username %}
        </li>
        <li>
          {% include icon-twitter.html username=site.twitter_username %}
        </li>
        <li>
          {% include icon-linkedin.html username=site.linkedin_username %}
        </li>
    </div>
  </div>
</section>