<section class="portfolio">
  <div class="portfolio--container">
    <div class="row middle-sm">
      <div class="col-sm-5">
        <img src="images/port-sikich.png">
      </div>
      <div class="col-sm-4">
        <div class="portfolio--text">
          <img class="portfolio--logos" src="images/sikich-logo.svg" alt="sikich logo">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <a href="http://162.247.142.194/" title="Sikich" target="_blank">Click to view</a>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio--container">
    <div class="row middle-sm">
      <div class="col-sm-4">
        <div class="portfolio--text">
          <img class="portfolio--logos" src="images/petag-logo.svg" alt="petag logo">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <a href="http://petag.com" title="Petag.com" target="_blank">Click to view</a>
        </div>
      </div>
      <div class="col-sm-5">
        <img src="images/port-petag.png">
      </div>
    </div>
  </div>
  <div class="portfolio--container">
    <div class="row middle-sm">
      <div class="col-sm-5">
        <div class="portfolio--img">
          <img src="images/port-crc.png">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="portfolio--text">
          <img class="portfolio--logos crc-logo" src="images/crc-logo.svg" alt="crc logo">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <a href="http://combustionresearchcenter.hoerbiger.com/" target="_blank" title="Combustion Research Center">Click to view</a>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio--container">
    <div class="row middle-sm">
      <div class="col-sm-4">
        <div class="portfolio--text">
          <img class="portfolio--logos" src="images/mol-logo.svg" alt="mol logo">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <a href="http://162.247.142.194/" title="Sikich" target="_blank">Click to view</a>
        </div>
      </div>
      <div class="col-sm-5">
        <img src="images/port-mol.png">
      </div>
    </div>
  </div>
  <div class="portfolio--container">
    <div class="row middle-sm">
      <div class="col-sm-5">
        <img src="images/port-codered.png">
      </div>
      <div class="col-sm-4">
        <div class="portfolio--text">
          <img class="portfolio--logos" src="images/codered-logo.png" alt="code red safety logo">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <a href="http://coderedsafety.com" title="code red safety" target="_blank">Click to view</a>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio--container">
    <div class="row middle-sm">
      <div class="col-sm-4">
        <div class="portfolio--text">
          <img class="portfolio--logos mpe-logo" src="images/mpe-logo.png" alt="mpe logo">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <a href="http:disposable-garments.com/" title="disposable garments" target="_blank">Click to view</a>
        </div>
      </div>
      <div class="col-sm-5">
        <img src="images/port-mpe.png">
      </div>
    </div>
  </div>
</section>
