<section class="portfolio">
  <div class="portfolio--container">
      <div class="row middle-sm">
        <div class="col-xs-12 col-sm-4">
          <div class="portfolio--text">
            <p>
                For my wedding, instead of paying for RSVP cards, mailing costs, last minute questions,
                and confusing scheduling of hotels for my wedding, I decided to make a website
                instead. This allowed me to not only save money but also provide a
                much more accessible hub of important information to my invited
                guests.
            </p>
            <p>
                <strong>I'm proud of:</strong> Not only did I save money, but I was
                able to architecture the information in a way that provided a much
                easier experience for the invited guests than what is traditional format.
                <p><strong>Also the client was very happy with it.</strong></p>
            </p>
            <a href="http://morales-wedding.com" title="morales-wedding.com" target="_blank">Click to view</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-sm-offset-1 work">
          <img data-original="images/port-morales-wedding.png" class="lazy" />
        </div>
      </div>
    </div>
  <div class="portfolio--container">
    <div class="row middle-sm">
      <div class="col-xs-12 col-sm-5 work">
        <img data-original="images/port-sikich.png" class="lazy" />
      </div>
      <div class=" col-xs-12 col-sm-4 col-sm-offset-1">
        <div class="portfolio--text">
          <img class="portfolio--logos lazy" data-original="images/sikich-logo.svg" alt="sikich logo" />
          <p>
            A site designed and developed around the concept of organizing a lot
            of content. The old site needed to be stripped and completely
            redone. With this in mind, the use of Wordpress CMS was used in
            order to keep track of all pages and posts. It needed to be easy for
            the internal team to maintain once it was pushed live.
          </p>
          <p>
            <strong>I'm proud of:</strong> the development of the flex grid used
            for the posts and the push navigation.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio--container">
    <div class="row middle-sm">
      <div class="col-xs-12 col-sm-4">
        <div class="portfolio--text">
          <img class="portfolio--logos lazy" data-original="images/petag-logo.svg" alt="petag logo" />
          <p>
            PetAg was made with the intention to inform the public about their
            products. A lot of research and process went into the design and UX
            of their main key target groups. While creating this I learned a
            alot about the cms we used, CRAFT CMS. I got more familiar with twig
            as I developed each page. It was also the first site I used using
            Foundation 6, which was new at the time and really learned the inner
            workings of the framework.
          </p>
          <p>
            <strong>I'm proud of:</strong> The client selected a significant
            amount of my concepts, which I then went on to develop.
          </p>
          <a href="http://petag.com" title="Petag.com" target="_blank">Click to view</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5 col-sm-offset-1 work">
        <img data-original="images/port-petag.png" class="lazy" />
      </div>
    </div>
  </div>
  <div class="portfolio--container">
    <div class="row middle-sm">
      <div class="col-xs-12 col-sm-5 work">
        <div class="portfolio--img">
          <img data-original="images/port-crc.png" class="lazy" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-offset-1">
        <div class="portfolio--text">
          <img class="portfolio--logos crc-logo lazy" data-original="images/crc-logo.svg" alt="crc logo" />
          <p>
            Creating this micro-site was fun and really allowed me to explore
            with different types of UX/UI functionality. This was a smaller site
            in general but was required to use Foundation 5 Framework.
          </p>
          <p>
            <strong>I'm proud of:</strong> The combustible dust testing page
          </p>
          <a href="http://combustionresearchcenter.com/" target="_blank" title="Combustion Research Center">Click to
            view</a>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio--container">
    <div class="row middle-sm">
      <div class="col-xs-12 col-sm-4">
        <div class="portfolio--text">
          <img class="portfolio--logos lazy" data-original="images/mol-logo.svg" alt="mol logo" />
          <p>
            This was a quick turn around site that I was hit with a very tight
            deadline. The project was to be front end only and to be handed off
            to another development firm to be implemented within a custom CMS. I
            had to create instructions on how to function throughout the code
            for them. I was able to complete all functionality they requested
            and some last minute requests as well.
          </p>
          <p>
            <strong>I'm proud of:</strong> I was complemented from the other
            development team on my code organization and the clarity of the
            instructions.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5 col-sm-offset-1 work">
        <img data-original="images/port-mol.png" class="lazy" />
      </div>
    </div>
  </div>
  <div class="portfolio--container">
    <div class="row middle-sm">
      <div class="col-xs-12 col-sm-5 work">
        <img data-original="images/port-codered.png" class="lazy" />
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-offset-1">
        <div class="portfolio--text">
          <img class="portfolio--logos lazy" data-original="images/codered-logo.png" alt="code red safety logo" />
          <p>
            This site was created because the company did not have any online
            presence. I was involved in everything. From conception to live push
            to maintenance. I travelled throughout the country with a co-worker
            to shoot all photos,video,interviews, etc. I created an online
            social presence while also creating content and maintaining
            marketing. During the time I made the company an extra $300k in
            sales in four months.
          </p>
          <p>
            <strong>I'm proud of:</strong> I did everything (with the exception
            of photography and video) by myself and came out successful.
          </p>
          <a href="https://coderedsafety.com" title="code red safety" target="_blank">Click to view</a>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio--container">
    <div class="row middle-sm">
      <div class="col-xs-12 col-sm-4">
        <div class="portfolio--text">
          <img class="portfolio--logos mpe-logo lazy" data-original="images/mpe-logo.png" alt="mpe logo" />
          <p>
            I tore down the company's old static site and redid everything in
            order to create an e-commerce site. I used Wordpress CMS to organize
            all the products and WooCommerce to set up the shop. I redid all the
            photography of the products and started the marketing.
          </p>
          <p>
            <strong>I'm proud of:</strong> I started with nothing and the site
            made $280k in one month.
          </p>
          <a href="https://disposable-garments.com/" title="disposable garments" target="_blank">Click to view</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5 col-sm-offset-1 work">
        <img data-original="images/port-mpe.png" class="lazy" />
      </div>
    </div>
  </div>
</section>