.sidebar {
  text-align: center;
  position: fixed;
  top: 0;
  left:0;
  height:100vh;
  width: 350px;
  padding: 2rem 1rem;
  color: rgba(255, 255, 255, .5);
  background-color: #1ABC9C;
}

/* Sidebar links */
.sidebar a {
  color: #fff;
}

/* About section */

.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: "Abril Fatface", serif;
  font-size: 2rem;
}

/* Sidebar nav */

.sidebar-nav {
  margin-bottom: 1rem;
}

.sidebar-nav-item {
  display: block;
  line-height: 2;
}

a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: underline;
}

.sidebar-nav-item.active {
  font-weight: bold;
}

.sidebar--social {
  margin: 1rem auto;
}

.sidebar--social li {
  display: inline-block;
  list-style-type: 0;
}

.content {
  padding-top: 4rem;
  padding-bottom: 4rem;
  width: calc(100% - 350px);
  float:right;
}

@media (min-width: 48em) {
  .content {
    max-width: 38rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}

