.container {
  background-color: #171717;
  border-radius: 16px;
  border: 1px solid rgb(64, 64, 64);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.spotifyContainer {
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  z-index: 999;
  margin: 0 auto;
  text-align: center;
  background: #171717;
  width: 40px;
  height: 40px;
}

.musicContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.albumArt {
  flex-shrink: 0;
}

.image {
  object-fit: cover;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 200px;
  overflow: hidden;
}

/* Marquee container for the track title */
.trackTitleMarquee {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  width: 300px;
  position: relative;
}

/* Animated marquee text using dynamic overflow */
.marqueeText {
  display: inline-block;
  animation: marquee 5s linear infinite alternate;
}

/* Normal text if not overflowing */
.normalText {
  display: inline-block;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-1 * var(--overflow-distance)));
  }
}

.albumName {
  font-size: 1rem;
  color: #aaa;
  text-decoration: none;
}

.artists {
  font-size: 0.9rem;
  color: #ccc;
}

.artistName {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

.artistName:hover {
  color: white;
}

.separator {
  margin: 0 2px;
}

.infoText {
  color: #ccc;
  font-size: 1rem;
}

/* Default content styles for not playing */
.defaultContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.defaultImage {
  border-radius: 16px;
  object-fit: cover;
}

/* Spotify player wrapper */
.spotifyPlayerWrapper {
  width: 100%;
  overflow: hidden;
  margin-top: 1rem;
  /* No accordion height animation, simply display the iframe */
}
